.App {
  /* //#0d1116 */
  height: 100vh;
  background-color: greenyellow;
  text-align: center;
  /* color: white; */
}

p {
  margin: 0;
}

.container {
  height: 100%;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.left {
  text-align: left;
  margin-left: 10px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: green;
}

.right-buttons {
  display: flex;
  /* padding: 12px 20px; */
  height: 99%;
  /* margin-right: 10px;
  margin-top: 10px; */
  /* border: 1; */
  /* align-items: center; */
}

.right {
  display: flex;
  background: green;
  color: greenyellow;
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10px;
  margin-top: 10px;
}

/* .profile {
  display: flex;
  background: green;
  color: greenyellow;
  border-radius: 16px;
  border: 0;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10px;
  margin-top: 10px;
} */

.img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.footer-text {
  color: green;
  font-size: 15px;
}
